body {
    background-color: black;
}

h1 {
    animation: none;
}

h2 {
    color: white;
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
}

p {
    font-size: 23px;
    color: white;
}

li {
    font-size: 23px;
    color: white;
}

.keyword li span {
    font-family: 'DotGothic16', sans-serif;
    color: rgb(129,120,255);
    font-size: 25px;
}

.keyword span {
    font-family: 'DotGothic16', sans-serif;
    color: rgb(129,120,255);
    font-size: 25px;
}

.box1-info, .box2-info, .box3-info {
    margin: 5%;
}

.hidden {
    display: none;
}

#back-btn1, #back-btn2, #back-btn3, #back-btn4, #back-btn5, #back-btn6, #back-btn7, #back-btn8, #back-btn9, #back-btn810 {
    padding: 2%;
    background-color: rgb(35,255,0);
    border: none;
    font-family: 'DotGothic16', sans-serif;
    font-size: 25px;
    margin-left: 70%;
}

#back-btn1:hover {
    transform: scale(1.2);
}
#back-btn2:hover {
    transform: scale(1.2);
}
#back-btn3:hover {
    transform: scale(1.2);
}

#back-btn4:hover {
    transform: scale(1.2);
}

#back-btn5:hover {
    transform: scale(1.2);
}

#back-btn6:hover {
    transform: scale(1.2);
}

#back-btn7:hover {
    transform: scale(1.2);
}

#back-btn8:hover {
    transform: scale(1.2);
}

#back-btn9:hover {
    transform: scale(1.2);
}

#back-btn10:hover {
    transform: scale(1.2);
}

#box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8, #box9, #box10 {
    background-color: rgb(129,120,255);
    width: 26%;
    margin-top: 5%;
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
    font-size: 25px;
    color: black;
}

#box1:hover {
    transform: scale(1.2);
}

#box2:hover {
    transform: scale(1.2);
}

#box3:hover {
    transform: scale(1.2);
}

#box4:hover {
    transform: scale(1.2);
}

#box5:hover {
    transform: scale(1.2);
}

#box6:hover {
    transform: scale(1.2);
}

#box7:hover {
    transform: scale(1.2);
}

#box8:hover {
    transform: scale(1.2);
}

#home-btn {
    padding: 2%;
    background-color: rgb(255, 136, 0);
    border: none;
    font-family: 'DotGothic16', sans-serif;
    font-size: 25px;
    margin-left: 10%;
    margin-top: 5%;
}

#home-btn:hover {
    transform: scale(1.2);
}