#box1, #box2, #box3, #box4, #box5, #box6 {
    background-color: rgb(255,0,190);
    width: 26%;
    margin-top: 5%;
    text-align: center;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 25px;
    color: black;
}

#home-btn {
    padding: 2%;
    background-color: rgb(255, 136, 0);
    border: none;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 25px;
    margin-left: 10%;
    margin-top: 5%;
}

#home-btn:hover {
    transform: scale(1.2);
}