

#box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8 {
    background-color: rgb(1,218,218);
    width: 26%;
    margin-top: 5%;
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
    font-size: 25px;
    color: black;
}

#home-btn {
    padding: 2%;
    background-color: rgb(255, 136, 0);
    border: none;
    font-family: 'DotGothic16', sans-serif;
    font-size: 25px;
    margin-left: 10%;
    margin-top: 5%;
}

#jquery-box, #node-box {
    padding: 2%;
    background-color: rgb(255, 136, 0);
    border: none;
    font-family: 'DotGothic16', sans-serif;
    font-size: 25px;
    margin-left: 10%;
    margin-top: 5%;
}

#home-btn:hover {
    transform: scale(1.2);
}

#box8:hover {
    transform: scale(1.2);
}

#jquery-btn:hover {
    transform: scale(1.2);
}

#node-btn:hover {
    transform: scale(1.2);
}