body {
    background-color: rgb(12, 73, 3);
}

section {
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-family: 'DotGothic16', sans-serif;
    font-size: 290%;
    color: white;

    animation: floating;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

li {
    font-size: 25px;
}

.arcade-img {
    position: relative;
    width: 100%;
}

.container1 {
    position: absolute;
    width: 75%;
    height: 67%;
    bottom: 14%;
    left: 12%;
}

.container2 {
    position: absolute;
    width: 75%;
    bottom: 20%;
    left: 15%;
}
.choicebtn {
    background-color: rgb(255,0,190);
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
    font-size: 25px;
    border: none;
}

.left {
    border: 5px solid green;
    width: 25%;
}

.right {
    border: 5px solid red;
}

.whole {
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    text-align: center;
}

.buttons {
    margin: 10%;
    display: flex;
    width: 70%;
    justify-content: space-around;
}

#continue, #exit, #next-question {
    background-color: rgb(49,255,173);
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
    font-size: 25px;
    border: none;
}

#continue:hover {
    transform: scale(1.2);
}

#exit:hover {
    transform: scale(1.2);
}

#next-question:hover {
    transform: scale(1.2);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}