h1 {
    font-family: 'DotGothic16', sans-serif;
    text-align: center;
    font-size: 290%;
}

li {
    font-size: 30px;
}

button {
    font-size: 30px;
}

p {
    font-size: 30px;
}

.container1 {
    position: relative;
}

.arcade-background {
    width: 100%;
    position: relative;
}

.quiz-rules {
    position: absolute;
    width: 70%;
    left: 14.5%;
    bottom: 20%;
    border: 5px solid red;
}

.container2 {
    position: absolute;
    width: 70%;
    left: 14.5%;
    bottom: 20%;
    border: 5px solid red;
}

.whole {
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
    font-size: 25px;
    color: black;
    border: none;
}

#continue, #exit {
    background-color: rgb(49,255,173);
    margin-top: 5%;
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
    font-size: 25px;
    color: black;
    border: none;
}

#question {
    font-size: 30px;
}

#choice1, #choice2, #choice3 {
    background-color: rgb(255, 132, 0);
    width: 26%;
    margin-top: 5%;
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
    font-size: 25px;
    color: black;
    border: none
}

#next-question {
    margin-top: 5%;
    background-color: rgb(49,255,173);
    width: 26%;
    margin-top: 5%;
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
    font-size: 25px;
    color: black;
    border: none
}

#continue:hover {
    transform: scale(1.2);
}

#exit:hover {
    transform: scale(1.2);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}