h1 {
    font-family: 'DotGothic16', sans-serif;
    text-align: center;
    font-size: 290%;
}

li {
    font-size: 30px;
}

button {
    font-size: 30px;
}

p {
    font-size: 30px;
}

.container1 {
    position: relative;
}

.arcade-background {
    width: 100%;
    position: relative;
}

.quiz-rules {
    position: absolute;
    width: 70%;
    left: 14.5%;
    bottom: 20%;
    border: 5px solid red;
}

.container2 {
    position: absolute;
    width: 70%;
    left: 14.5%;
    bottom: 20%;
    border: 5px solid red;
}

#question {
    font-size: 30px;
}

#continue, #exit {
    background-color: rgb(49,255,173);
    width: 26%;
    margin-top: 5%;
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
    font-size: 25px;
    color: black;
    border: none;
}

#choice1, #choice2, #choice3 {
    background-color: rgb(255, 132, 0);
    width: 26%;
    margin-top: 5%;
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
    font-size: 25px;
    color: black;
    border: none
}

#next-question {
    margin-top: 5%;
    background-color: rgb(49,255,173);
    width: 26%;
    margin-top: 5%;
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
    font-size: 25px;
    color: black;
    border: none
}

#continue:hover {
    transform: scale(1.2);
}

#exit:hover {
    transform: scale(1.2);
}

#next-question:hover {
    transform: scale(1.2);
}

#choice1:hover {
    transform: scale(1.2);
}

#choice2:hover {
    transform: scale(1.2);
}

#choice3:hover {
    transform: scale(1.2);
}