body {
    background-color: rgb(12, 73, 3);
}

section {
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-family: 'DotGothic16', sans-serif;
    font-size: 290%;
    color: white;

    animation: floating;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#arcade-img {
    position: relative;
    width: 100%;
}

.container {
    /* border: 5px solid red; */
    position: absolute;
    width: 75%;
    height: 67%;
    bottom: 14%;
    left: 12%;
}

.whole {
    width: 99%;
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}



#card1, #card2, #card3, #card4, #card5, #card6 {
    background-color: rgb(49,255,173);
    width: 26%;
    margin-top: 5%;
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
    font-size: 25px;
    color: black;
}

#card1:hover {
    transform: scale(1.2);
    /* makes box zoom in on hover */
}

#card2:hover {
    transform: scale(1.2);
}

#card3:hover {
    transform: scale(1.2);
}

#card4:hover {
    transform: scale(1.2);
}

#card5:hover {
    transform: scale(1.2);
}

#card6:hover {
    transform: scale(1.2);
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}
