section {
    position: relative;
}

#arcade-img {
    position: relative;
    width: 100%;
}

.container {
    border: 5px solid red;
    position: absolute;
    width: 75%;
    height: 67%;
    bottom: 14%;
    left: 12%;
}

.whole {
    border: 5px solid blue;
    width: 99%;
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}



#card1, #card2, #card3, #card4, #card5, #card6 {
    border: 5px solid green;
    padding: 5%;
    margin-top: 5%;
}






/* body {
    background-image: url('arcade-background.jpg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center top;
} */





/* * {
    margin:  0;
    padding: 0;
    background-color: black;
    color: white
}

nav {
    text-align: right;
    background-color: purple;
    padding-bottom: 15px;
}

header {
    width: 100%;
    height: 200px;
    color: white;
}

h1, h2, h3 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
    display: block;
    height: 125px;
    width: 115x;
    margin-left: auto;
    margin-right: auto; */
    /* curves the edges of the picture */
    /* border-radius: 20%; */
/* }

main{ */
    /* made the cards side-by-side since this is the parent of .card */
    /* display: flex;
    flex-wrap: wrap; */
    /* justify-content: space-around;
    align-items: flex-start; */
/* }

ul {
    padding-left: 40px;
    font-size: 20px;
}

p {
    text-align: left;
    font-size: 20px;
    color: white;
}

footer {
    width: 100%;
    height: 100px;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center; */
    /* added the display:flex to make footer text sit within the footer */
/* }

.heading-links a {
    color: white;
    background-color: purple;
    font-size: 30px;
    display: inline;
    margin: 10px;
}

.card {
    width: 40%;
    margin: 40px auto;
    border: 5px solid purple; */
    /* border-radius: 20%; */
    /* box-shadow: 5px 10px #888888; */
    /* flex-grow: 1;  */
    /* got rid of the empty space when using flex wrap */
/* 
}

.keyword li span{
    font-family: 'Courier New', Courier, monospace;
    color: orange;
    font-size: 18px;
}

.select li span{
    font-family: Arial;
    color: aqua;
}

.code-ex code{
    font-family: 'Courier New', Courier, monospace;
    color: red;
    font-size: 15px; 
}

.flexbox {
    height: auto;
    width: 200px;
}
.footer-text {
    background-color: purple;
} */

/* opens and closes accordion panel */
/* .accordion {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    font-size: 21px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: purple;
  } */
  
  /* Styles accordion panel. */
  /* .panel {
    padding: 0 18px;
    background-color: black;
    display: none;
    overflow: hidden;
  }

#title { */
    /* background-color: purple; */
    /* font-family: 'Courier New', Courier, monospace;
}
@media screen and (max-width: 992px) {
    .card {
      width: 100%
    }  
} */